
<div class="wrapper">
    <div class="content-wrap">
        <div class="box-bg">
            <div class="box-wrap content">
                <div id="errors" class="col-xs-12"  ng-controller="ErrorsController">
                    <div class="page-header">
                        <h3>Force Errors</h3>
                    </div>
                    <div class="value-box mt-20">
                        <div class="blank-value">
                            <span class="value-img"></span>
                            <p>알수 없는 페이지 입니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
