
<div class="wrapper">
    <div class="content-wrap">
        <div class="box-bg">
<!--            <h3 class="title">검색 별 조회</h3>-->
            <div class="box-wrap content">
                <div class="condition-box">
                    <ul class="layout-inline box-img">
                        <li ng-click="mc.location('/apt-search');"><img src="images/apt-search.png" title="apt">
                            <span><a ng-click="mc.location('/apt-search');">아파트명 검색</a></span><br/>
                            <span>아파트이름 검색으로 공시지가 비율 조회</span>
                        </li>
                        <li ng-click="mc.location('/condition-search');"><img src="images/detail-search-icon.png" title="condition">
                            <span><a ng-click="mc.location('/condition-search');">조건 검색</a></span><br/>
                            <span>내가 원하는 조건에 맞는 아파트 조회</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
